@charset "ISO-8859-1";

*{
	text-decoration: none;
	padding: 0;
	margin: 0;
}

body{
	background: #dfe7ec;
	font-family: sans-serif;
}

h1{
	font-family: Consolas;
	font-size: 5em;
	margin-bottom: 2em;
}

#homepage{
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-container{
	display:flex;
	justify-content: space-between;
	align-items: center;
	gap: 5em;
}

a{
	color: blue;
}